body { 
    height: 100vh;
    background: linear-gradient(rgb(47,150,163), rgb(48,62,143));
    margin: 0;
    padding: 0;    
}

.title {

    text-align: center;
    color: white;
    font-family: cursive;
    height: 50px;
}



.content {
    height: 75%;
    margin-top: 50px;
    top: 50px;
    position: relative;
    width: 50%;
    text-align: center;
    align-items: center;
    left: 25%;
    font-family: cursive;


}


#newPass {
    margin-top: 50px;
    width: 75%;
    height: 25%;
    
    
    
}